
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 7px;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #fff;
    background-color: #333;
    text-align: center;
}

a{ text-decoration: none;
}

p{
    padding: 1.6rem 0;
}

img{
    width: 100%;
    height: auto;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

header{
    height: 46rem;
   
}

header .bg-image{
    position: absolute;
    background-image: url(images_r1/camera-background.avif);
    background-size: cover;
    height: 46rem;
    width: 100%;
    opacity: 0.6;
    z-index: -1;
}
header h1{
    padding: 12rem;
    padding-bottom: 0;
}

.btn{
    display: inline-block;
    color: #fff;
    background-color: #333;
    border: 1px solid #666;
    padding: 1.6rem 3.2rem;
    margin: .5rem 0;
    transition: .4s;
}

.btn:hover{
    background-color: #fff;
    color: #333;
}

#section-a{
    background-color: #eaeaea;
    color: #333;
    padding: 3.2rem 0;
}

#section-b{
    padding: 2rem;
}

#section-b ul {
    list-style: none;
}
#section-b li {
    background: #fff;
    color: #333;
    margin-bottom: 1.5rem;
}

.col-content{
    padding: 1.5rem;
}

#section-c {
    background-color: #eaeaea;
    color: #333;
    padding: 4rem;
}

#section-d .box {
    padding: 5rem;
}

#section-d .box:first-child{
    background-color: darkslategrey;
}

footer {
    background-color: black;
    padding: 4rem;
}
footer a{
    color: yellowgreen;
}

@media screen and (min-width: 800px) {
    html{
        font-size: 9px;
    }
}

@media screen and (min-width: 1200px) {
    html{
        font-size: 11px;
    }
    #section-b li{
        width: 30%;
        margin: 1%;
        display: inline-block;
    }
    #section-d .box{
        width: 50%;
        float: left;
    }
}
